#front_search {
    background: url('/assets/img/doctors.jpg') 50% 0% / 100% no-repeat fixed;
}
#front_page {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}